<header class="header navbar-area">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <nav class="navbar navbar-expand-lg">
          <a class="navbar-brand" routerLink="/">
            <span class="logo-text">RecycleHub</span>
          </a>
          <button class="navbar-toggler" type="button" (click)="toggleMenu()">
            <span class="toggler-icon"></span>
            <span class="toggler-icon"></span>
            <span class="toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" routerLink="/" routerLinkActive="active">Accueil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/collecte" routerLinkActive="active">Demande de Collecte</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/points" routerLinkActive="active">Mes Points</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/profile" routerLinkActive="active">Profil</a>
              </li>
            </ul>
            <div class="button">
              <a class="btn" routerLink="/login">Connexion</a>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
